$step: 4px;
$vertical-direction: 0;
$horizontal-direction: 1;

@mixin gap-between-children($gap: $step, $direction: $vertical-direction) {
  @if $direction == $vertical-direction {
    > * {
      margin-top: $gap;
    }
    > *:first-child {
      margin-top: 0;
    }
  } @else {
    > * {
      margin-left: $gap;
    }
    > *:first-child {
      margin-left: 0;
    }
  }
}

%absolutely-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%list {
  display: flex;
  flex-direction: column;
  @include gap-between-children($step * 2);
}
