@import "@/stylesheets/shared.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $step * 5;
  background-color: aquamarine;
  @include gap-between-children($step * 2);
}

.registration-or-login-form {
  @extend %absolutely-centered;
}

.fields {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: $step * 5;
}
